#JerLogo{
    padding-left: 15px;
    width: 80px;
    height: 80px;
    vertical-align: top;
    position: absolute;
    margin-left: -610px;
    margin-top: -55px;
}
body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 15px solid aqua;
    background: rgb(62,223,4);
    background: linear-gradient(to top right, rgba(62,223,4,1) 25%, rgba(41,255,243,1) 55%);
    margin: 0;
}

header{
    color: yellow;
    background-color: blue;
    text-align: center;
    font-size: 50px;
    text-shadow: 5px 5px purple;
}
nav{
    top: 0px;
    background-color: blue;
    text-align: center;
    font-size: 25px;
    padding: 15px 15px 15px 15px;
}
nav li{
    list-style-type: none;
    display: inline;
    padding: 5px 5px 5px 5px;
    top: 0px;
}
nav a:visited{
    color: yellow;
    text-decoration: none;
}
nav a:link{
    color: yellow;
    text-decoration: none;
}
nav a:hover{
    color: cyan;
    text-decoration: underline;
}
nav a:active{
    color: rgb(0, 139, 30);
}
section{
    background-color: #8bd0aa;
    text-align: center;
    height: 350px;
    width: 500px;
    margin-top: 155px;
    margin-right: 100px;
    margin-left: 15px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    float: right;
    border: 5px solid aqua;
}
aside{
    float: left;
    padding-left: 15px;
    margin-left: 175px;
    text-align: center;
}
aside h2{
    width: 1100px;
    border: 5px solid aqua;
    background-color: aqua;
    color: blue;
    font-size: 30px;
}
aside img{
    height: 10px;
    width: 10px;
    border: 5px solid aqua;
    margin-bottom: 25px;
}
article{
    float: left;
    border: 5px solid aqua;
    background-color: #988bd0;
    text-align: center;
    margin-top: 50px;
    margin-right: 15px;
    margin-left: 75px;
    margin-bottom: 50px;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
}
article h3{
    font-size: 30px;
}
article iframe{
    border: 5px dotted aqua;
}
.bakeShop{
    background-color: #D0A48B;
    margin-bottom: 15px;
}
.cmp{
    float: left;
    padding-left: 15px;
}
.cmp h4{
    padding-left: 1px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: blue;
    border: 5px solid aqua;
    background-color: aqua;
    font-size: 25px;
    text-align: center;
}
.cmp img{
    height:500px;
    width: 700px;
    /*1st paremeter
        1st parameter is right side
        2st parameter is bottom
    /*2nd paremter
        is bottom if positive
        is top if negative*/
    margin-bottom: 25px;
    margin-top: 40px;
    border: 5px solid aqua;
    background-color: aqua;
    color: blue;
}

footer{
    position: sticky;
    clear: both;
    width: 100%;
    height: 100px;
    background-color: blue;
    color: yellow;
    padding-top: 15px;
    text-align: center;
}
footer h5{
    float: left;
}
.fa {
    padding: 20px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    position: absolute;
    margin-left: -700px;
    margin-top: 10px;
}
.fa:hover {
      opacity: 0.7;
}
.fa-instagram {
    background: #125688;
    color: white;
}
.insta h5{
    float: left;
    margin-left: 125px;
    position: absolute;
}
footer a:visited{
    color:red;
}
.insta a:link{
    color: red;
    text-decoration: none;
}
.mail a:link{
    color: red;
    text-decoration: none;
    text-align: center;
}
footer a:hover{
    color: cyan;
}